@import'~@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    margin:20px;
    display:flex;
}
